/* line 11, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
table {
  margin: auto auto;
  /* Centers the content with left and right margins */
  align-items: center;
  vertical-align: middle;
  padding: 20px; }
  /* line 12, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  table th td tr {
    padding: 10px;
    text-align: center; }
  /* line 20, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  table .content {
    max-width: 300px;
    /* Adjust as needed */
    text-align: left;
    /* Left-aligns text within the centered container */
    /* Optional: Add left and right padding for better readability */
    overflow-wrap: break-word; }
  /* line 27, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  table .title {
    max-width: 400px;
    /* Adjust as needed */
    margin: 40px auto;
    /* Centers the content with left and right margins */
    text-align: left;
    /* Left-aligns text within the centered container */ }
  /* line 34, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  table .date {
    margin: 40px auto;
    /* Centers the content with left and right margins */
    text-align: left;
    /* Left-aligns text within the centered container */
    max-width: 400px; }
