/* line 7, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
table {
  margin: auto auto;
  align-items: center;
  vertical-align: middle;
  border: 5px solid #3498db; }

/* line 14, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
th {
  padding: 20px;
  align-items: center;
  background-color: #3498db; }

/* line 19, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.content {
  max-width: 300px;
  text-align: left;
  overflow-wrap: break-word; }

/* line 24, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.title {
  max-width: 400px;
  margin: 40px auto;
  text-align: left; }

/* line 29, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.date {
  margin: 40px auto;
  text-align: left;
  max-width: 400px; }
