/* line 8, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
body {
  background-color: #a8a8a7;
  font-family: 'Courier New', monospace; }

/* line 13, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
a.logo {
  color: #b3a447;
  padding: 20px;
  justify-content: center;
  align-items: center; }
  /* line 18, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  a.logo :hover {
    color: #bd700c; }

/* line 24, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
div.post {
  font-size: large;
  color: #bd700c;
  padding: 20px;
  justify-content: center;
  align-items: center;
  size: 100px; }

/* line 33, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
div.post.title {
  background-color: #a8a8a7;
  color: #bd700c; }
