@import url("https://fonts.googleapis.com/css2?family=Garamond:wght@400&display=swap");
/* line 9, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
body {
  font-family: 'Garamond', serif;
  background-color: #f2dfb8; }

/* line 14, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
table {
  width: 50%;
  margin: auto auto;
  align-items: center;
  vertical-align: middle; }

/* line 22, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
td {
  padding: 10px;
  align-items: center;
  width: 300px; }

/* line 28, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.content {
  max-width: 300px;
  text-align: left;
  overflow-wrap: break-word;
  vertical-align: top;
  font-family: 'Garamond', serif;
  font-size: large;
  background-color: white;
  border-top: 2px solid white; }

/* line 39, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.title {
  border-bottom: 2px solid white;
  font-family: 'Garamond', serif;
  text-align: center;
  color: #bd700c;
  background-color: white;
  font-size: 50px;
  max-width: 100%;
  margin: 40px auto; }

/* line 50, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.date {
  font-family: 'Garamond', serif;
  font-size: 25px;
  color: #86888a;
  background-color: white;
  text-align: center;
  max-width: 400px; }

/* line 59, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.PageTitle {
  color: #ffee00;
  font-size: 100px;
  max-width: 100%;
  overflow-wrap: break-word; }

/* line 67, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 100px;
  background-color: #689ee3; }

/* line 76, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.spaceholder {
  height: 170px; }
