@import url("https://fonts.googleapis.com/css2?family=Garamond:wght@400&display=swap");
/* line 7, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
body {
  font-family: 'Garamond', serif; }

/* line 11, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
table {
  width: 50%;
  margin: auto auto;
  align-items: center;
  vertical-align: middle;
  border: 5px solid #689ee3;
  background-color: #689ee3; }

/* line 19, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
td {
  padding: 20px;
  align-items: center;
  width: 300px; }

/* line 25, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.content {
  max-width: 300px;
  text-align: left;
  overflow-wrap: break-word;
  vertical-align: top; }

/* line 31, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.title {
  text-align: center;
  color: #bd700c;
  background-color: white;
  font-size: 50px;
  max-width: 400px;
  margin: 40px auto; }

/* line 39, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.date {
  background-color: white;
  margin: 50px auto;
  text-align: center;
  max-width: 400px; }
