/* line 8, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
body {
  background-color: #a8a8a7; }

/* line 13, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
a.logo {
  color: black;
  padding: 20px;
  justify-content: center;
  align-items: center; }
  /* line 18, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  a.logo :hover {
    color: #bd700c; }

/* line 24, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
div.post {
  font-size: large;
  color: black;
  padding: 20px;
  justify-content: center;
  align-items: center;
  size: 100px;
  width: 50%;
  text-align: center; }
  /* line 34, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  div.post .title {
    background-color: #a8a8a7;
    font-size: 50px; }
  /* line 39, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  div.post .text {
    background-color: #a8a8a7; }

/* line 44, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
div.post.title {
  background-color: #a8a8a7;
  color: #bd700c; }
