/* line 7, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
body {
  text-align: center;
  /* Center-aligns all text */ }

/* line 11, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.content {
  max-width: 800px;
  /* Adjust as needed */
  margin: 0 auto;
  /* Centers the content with left and right margins */
  text-align: left;
  /* Left-aligns text within the centered container */
  padding: 0 20px;
  /* Optional: Add left and right padding for better readability */ }
