@import url("https://fonts.googleapis.com/css2?family=Garamond:wght@400&display=swap");
/* line 8, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
body {
  font-family: 'Garamond', serif; }

/* line 12, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
table {
  width: 50%;
  margin: auto auto;
  align-items: center;
  vertical-align: middle;
  background-color: #689ee3; }

/* line 20, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
td {
  align-items: center;
  width: 300px; }

/* line 26, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.content {
  max-width: 300px;
  text-align: left;
  overflow-wrap: break-word;
  vertical-align: top;
  font-family: 'Garamond', serif;
  font-size: large; }

/* line 35, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.title {
  font-family: 'Garamond', serif;
  text-align: center;
  color: #bd700c;
  background-color: white;
  font-size: 50px;
  max-width: 400px;
  margin: 40px auto; }

/* line 45, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.date {
  font-family: 'Garamond', serif;
  font-size: 30px;
  background-color: white;
  margin: 50px auto;
  text-align: center;
  max-width: 400px; }

/* line 54, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
.PageTitle {
  color: #ffee00;
  font-size: 100px; }
