/* line 11, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
table {
  margin: auto auto;
  /* Centers the content with left and right margins */
  align-items: center; }
  /* line 14, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  table .content {
    max-width: 400px;
    /* Adjust as needed */
    margin: 40px auto;
    /* Centers the content with left and right margins */
    text-align: left;
    /* Left-aligns text within the centered container */
    padding: 0 20px;
    /* Optional: Add left and right padding for better readability */
    overflow-wrap: break-word; }
  /* line 22, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  table .title {
    max-width: 400px;
    /* Adjust as needed */
    margin: 40px auto;
    /* Centers the content with left and right margins */
    text-align: left;
    /* Left-aligns text within the centered container */
    padding: 0 20px; }
  /* line 29, c:/vscode/jchurch/kosciol/index/static/scss/style.scss */
  table .date {
    margin: 40px auto;
    /* Centers the content with left and right margins */
    text-align: left;
    /* Left-aligns text within the centered container */
    padding: 0 20px;
    max-width: 400px; }
