
$color1: #b3a447;
$color2: #689ee3;
$color3: #bd700c;
$color_background: #a8a8a7;

// body {
//     text-align: center; /* Center-aligns all text */
// }

div{
    .content {
        max-width: 400px; /* Adjust as needed */
        margin: 40px auto; /* Centers the content with left and right margins */
        text-align: left; /* Left-aligns text within the centered container */
        padding: 0 20px; /* Optional: Add left and right padding for better readability */
        overflow-wrap: break-word;
    }
    
    .title{
        max-width: 400px; /* Adjust as needed */
        margin: 40px auto; /* Centers the content with left and right margins */
        text-align: left; /* Left-aligns text within the centered container */
        padding: 0 20px;
    }

    .date{
        margin: 40px auto; /* Centers the content with left and right margins */
        text-align: left; /* Left-aligns text within the centered container */
        padding: 0 20px;
        max-width: 400px;
    }
}
