<!DOCTYPE html>
{% load static %}
<html>
    <head>
        {% load compress %}

        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/style.scss' %}" media = 'screen'> 
        {% endcompress %}
        
    </head>

    <body>
        {% for post in posts %}
            <div class = "post">
                <div>
                    post.title
                </div>

                <div>
                    post.text
                </div>
            </div>
        {% endfor %}
    </body>
</html>