body {
    font-family: 'Garamond', serif;
    background-color: #f2dfb8;
}

table {
    width: 50%;
    margin: auto auto;
    text-align: center;
}

td {
    padding: 10px;
    width: 300px;
}

.content {
    max-width: 300px;
    text-align: left;
    overflow-wrap: break-word;
    vertical-align: top;
    font-family: 'Garamond', serif;
    font-size: large;
    background-color: white;
}

.title {
    font-family: 'Garamond', serif;
    text-align: center;
    color: #bd700c;
    background-color: white;
    font-size: 50px;
    max-width: 100%;
    margin: 40px auto;
}

.date {
    font-family: 'Garamond', serif;
    font-size: 25px;
    color: #86888a;
    background-color: white;
    text-align: center;
    max-width: 400px;
}

.PageTitle {
    color: #ffee00;
    font-size: 100px;
    max-width: 100%;
    overflow-wrap: break-word;
    text-decoration:none
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 100px;
    background-color: #689ee3;
}

.spaceholder {
    height: 170px;
}